<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConStr" connectionString="Server=tcp:oasisgong.database.windows.net,1433;Initial Catalog=AppraisalDB;Persist Security Info=False;User ID=CloudSA65650670;Password=Lvhuimin0922;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
	</connectionStrings>
</configuration>